.shortener-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.shortener-main {
  display: flex;
  justify-content: center;   
  align-items: flex-start;   
  padding: 4rem 1rem;        
  flex: 1;
}
